{% extends "template.html" %}
{% block content %}
<head>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=true"></script>
	<script src={{ url_for('static', filename='js/gmaps.js') }}></script>
	<script type="text/javascript">
		var map;
		$(document).ready(function(){
		map = new GMaps({
			el: '#map',
			lat: 16.8657124,
			lng: 96.1571502,
			zoom: 12,
			zoomControl : true,
			});
		map.addMarker({
			lat: 16.8657124,
			lng: 96.1572000,
			infoWindow: {
				content: '<p>$1,500,000<br>5bd/4ba</p>'
			}
			});
		map.addMarker({
			lat: 16.7774284,
			lng: 96.1431451,
			infoWindow: {
				content: '<p>No.237-239, China Town Condo 8F, Yangon<br>$125,000   2bd/1ba</p>'
			}
			});
	    });

	 </script>
</head>

	<div id="map" style="height:100%;width:100%;" />

{% endblock %}

