{% extends "template.html" %}
{% block content %}
<head>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=true"></script>
	<script src={{ url_for('static', filename='js/gmaps.js') }}></script>
	<script type="text/javascript">
		var map;
		$(document).ready(function(){
		map = new GMaps({
			el: '#map',
			lat: 16.8657124,
			lng: 96.1571502,
			zoom: 12,
			zoomControl : true,
			});
		});
	</script>
</head>

<body style="width:100%;height:100%;">
	
	<div id="map" class="map" style="height:650px;width:1000px;">
			</div>
</body>

{% endblock %}

