<!DOCTYPE html>
<html style="width:100%;height:100%;">
<head>
	<title>Welcome to BETA!!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </head>
  <body style="width:100%;height:100%;">
		<div class="navbar navbar-default navbar-static-top" role="navigation">
				<ul class="nav navbar-nav">
					<li class="active">
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/properties/">For Sale</a>
					</li>
					<li>
						<a href="/rentals/">For Rent</a>
					</li>
				</ul>
		</div>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% if error %}
        <div class="error"><strong>Error:</strong> {{ error }}</div>
      {% endif %}

      {% block content %}
      {% endblock %}
  </body>
</html>
